{% extends 'base/base.html' %}
{% block style %}
<style>
      th{
        padding-right: 10rem;
        text-align: center;
    }
    table{
        border: solid 2px black;
    }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <table id="projects_table">
        <tr>
            <th>Project Name</th>
            <th>Project Description</th>
            <th>Start Date</th>
            <th>Deadline</th>
            <th>Project Owner</th>
        </tr>
        {% for content in contents %}
        <tr>
            <td>{{ content.project_name }}</td>
            <td>{{ content.project_description }}</td>
            <td>{{ content.start_date }}</td>
            <td>{{ content.deadline }}</td>
            <td>{{ content.project_owner }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}