<!DOCTYPE html>
<html>
    <head>
        <title>OSU Hackathon Club - Login</title>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
    </head>
    <body>
        <h1>Welcome to OSU Hackathon</h1>
        <form method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username"/>
            <label for="password">Password:</label>
            <input type="password" name="password"/>
            <br>
            <input type="submit"/>
        </form>
    </body>
</html>