{% extends 'base/base.html' %}
{% block style %}
<style>
    th{
        padding-right: 14rem;
    }
    
    table{
        border: black 2px solid;
    }
    h2{
        margin: 1%;
        color: blue;
        font-style: italic;
    }
</style>
{% endblock %}
{% block content %}
<h2>Upcoming Meetings</h2>
<h5>Today's date: {{ today }}</h5>
<div class="container-fluid">
    <table id="upcoming_meetings_table">
        <tr>
            <th>Meeting Name</th>
            <th>Date</th>
            <th>Description</th>
            <th>Agenda</th>
        </tr>
        {% for meeting in meetings %}
        <tr>
        {% if meeting.date.day > today.day %}
            <td>{{ meeting.meeting_name }}</td>
            <td>{{ meeting.date }}</td>
            <td>{{ meeting.description }}</td>
            <td>{{ meeting.agenda }}</td>
        {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary" id="new_meeting">New Meeting</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary">Delete Meeting</button>
        </div>
    </div>
</div>
<br>
<div>
    <form method="POST" action="meetings">
        {% csrf_token %}
        <div class="container-fluid" id="input_window">

        </div>
    </form>
</div>
{% endblock %}
{% block script %}
<script>

    document.getElementById('new_meeting').addEventListener('click', add_meeting);

    function add_meeting(){
        let win = document.getElementById('input_window');
        let message = label_input_addition('Name') + label_input_addition('Description') 
        message += label_input_addition('Date', 'date') + label_input_addition('Agenda')
        message += '<div class="row"><div class="col-md-6"><input type="submit" value="Submit" class="btn btn-primary"/></div>'
        message += '<div class="col-md-6"><input type="button" value="Cancel" class="btn btn-primary" id="cancel_button"/></div></div>'
        win.innerHTML = message      
    }

    function label_input_addition(label_title, input_type='text'){
        let group_tags_open = '<div class="form-group">'
        let label_type = `<label for="${ label_title }">${label_title}:</label>`
        let input_text = `<input type="${input_type}" id="${label_title}" name="${label_title}" class="form-control"/>`
        let group_tags_close = "</div>"
        return group_tags_open+label_type+input_text+group_tags_close
    }
</script>
{% endblock %}