{% extends 'base/base.html' %}
{% block style %}
<style>
    th{
        padding-right: 14rem;
    }
    
    table{
        border: black 2px solid;
    }
    h2{
        margin: 1%;
        color: blue;
        font-style: italic;
    }
</style>
{% endblock %}
{% block content %}
<h2>Upcoming Meetings</h2>
<h5>Today's date: {{ today }}</h5>
<div id="meetings_recap">
    <table id='meetings_table'>
        <tr>
            <th>Meeting Name</th>
            <th>Date</th>
            <th>Description</th>
            <th>Agenda</th>
        </tr>
    {% for meeting in meetings %}
    {% if meeting.date != today %}
        <tr>
            <!--Clicking on the checkbox passes the entire meeting details to a JS function for deletion/change. The updated_selected_element
            function will be taking the event and from there it will select the value of the checkbox-->
            <td><input type="checkbox" id="{{meeting.meeting_name}}" value="{{meeting}}" name="{{meeting.meeting_name}}"/> 
                {{ meeting.meeting_name }}
            </td>
            <td>{{ meeting.date }}</td>
            <td>{{ meeting.description }}</td>
            <td>{{ meeting.agenda }}</td>
        </tr>
    {% endif %}
    {% endfor %}
    </table>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" id="new_meeting">New Meeting</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" id="delete_meeting">Delete Meeting</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" id="edit_meeting">Edit Meeting</button>
        </div>
    </div>
</div>
<br>
<div id="add_new_meeting" style="visibility: hidden;">
    <form method="POST" action="meetings">
        {% csrf_token %}
        <div class="container-fluid" id="input_window">
            <div class="form-group" id="add_meeting_form">
                <label for="Name">Name:</label>
                <input type="text" id="Name" name="Name" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="Description">Description:</label>
                <input type="text" id="Description" name="Description" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="Date">Date:</label>
                <input type="date" id="Date" name="Date" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="Agenda">Description:</label>
                <input type="text" id="Agenda" name="Agenda" class="form-control"/>
            </div>
            <div class="row"><div class="col-md-6">
                <input type="submit" value="Submit" class="btn btn-primary" id="submit_button"/>
            </div>
            <div class="col-md-6">
                <input type="button" value="Cancel" class="btn btn-primary" id="cancel_button"/>
            </div></div>
        </div>
    </form>
</div>
{% endblock %}
{% block script %}
<script>

    document.getElementById('new_meeting').addEventListener('click', add_meeting);
    document.getElementById('cancel_button').addEventListener('click', add_meeting);
    document.getElementById('submit_button').addEventListener('click', ()=>{
        //Direct back to dashboard
        window.location.href = './dashboard.html'
    })

    document.getElementById('edit_meeting').addEventListener('click', ()=>{
        //Tetsing
        let input_value = document.querySelectorAll('input[type=checkbox]')
        let meeting_details = input_value[0].id
        //Directs user to a separate page to edit the meeting page
        window.location.href = `./edit_meeting/${meeting_details}`
    })

    // Global variable to keep track of selected elements
    let selected_meeting = null

    function add_meeting(){
        /*
        Called to add new meeting in the calendar.
        */
        let win_visibility = document.getElementById('add_new_meeting');
        let meeting_visibility = win_visibility.style.visibility === 'visible' ? 'hidden':'visible'
        win_visibility.style.visibility = meeting_visibility
    }

    function returnMeetingTableHeaders(){
        /*Return table headers*/
        let table_start = '<table id=\'meetings_table\'>'
        table_start += '<tr><th>Meeting Name</th><th>Date</th><th>Description</th><th>Agenda</th></tr>'
        return table_start+'</table>'
    } 

    function update_selected_element(e){
        selected_meeting = document.querySelector('checkbox').checked
        alert('Test test')
    }

</script>
{% endblock %}