{% extends 'base/base.html' %}
{% block style %}
<style>
    th{
        padding-right: 14rem;
    }
    table{
        border: solid 2px black;
    }
</style>
{% endblock %}
{% block content %}
<h2>Hackathon Club Members</h2>
<br>
<table id="members_table">
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Email</th>
        <th>Username</th>
    </tr>
    {% for profile in profiles %}
    <tr>
        <td>{{ profile.name }}</td>
        <td>{{ profile.position }}</td>
        <td>{{ profile.email }}</td>
        <td>{{ profile.username }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<div class="row">
    <div class="col-md 4" id="button_left">
        <input class="btn btn-primary" type="button" value="Add Member" name="add_member" id="add_member"/>
    </div>
    <div class="col-md-4" id="button_middle">
        <input class="btn btn-primary" type="button" value="Delete Member" name="delete_member" id="delete_member"/>
    </div>
    <div class="col-md-4" id="button_right">
        <input class="btn btn-primary" type="button" value="Member Stats" name="member_stats" id="member_stas"/>
    </div>
</div>
{% endblock %}